*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: lightgray;
}

.containar{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
}

.containar h1{
    font-size: 3rem;
    text-align: center;
    margin: 20px;
}

.gallary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 32%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
}

.card:hover{
    transform: scale(1.3);
    transition: 0.5s;
    filter: drop-shadow(0 0 10px #333);
    z-index: 1;
}

.card:hover img{
    filter: grayscale(0%);
}

.card figcaption{
    position: absolute;
    bottom: 0;
    /* left: 0; */
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 20%;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 6%, rgba(0,0,0,1) 100%);
    opacity: 0;
}

.card:hover figcaption{
    opacity: 1;
    transform: scale(1.3);
}